*{
    padding: 0px;
    margin: 0px;
}
#didatica {
    background: url("../images/child.png") repeat;
}
.box{
    border: 4px solid #027dc8;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:0px;
    margin:10px;
    text-align:center;
    background-color:white;
    padding-bottom: 10px;
}
.title{
    background-color: #027dc8;
    padding: 4px;
    color:white;
    font-family:'Comic Sans MS';
    font-weight:700;
    font-size: 20px;
}
.im{
    border: 4px solid #027dc8;
    border-radius: 10px;
    width:150px;height:150px;
    margin:10px;
    display:inline-block;
    text-align:left;
    font-size:24px;
    padding:8px;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.radio-cc{opacity: .9;}
.cc-selector input:checked +.radio-cc{
    border-color: #8dc600;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.radio-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    border: 4px solid #027dc8;
    border-radius: 10px;
    display:inline-block;
    width:150px;height:150px;
    margin:10px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter:   opacity(.5);
       -moz-filter:   opacity(.5);
            filter:   opacity(.5);
}
.radio-cc:hover{
    border-color: #ff7b35;
    -webkit-filter:   opacity(.9);
       -moz-filter:   opacity(.9);
            filter:   opacity(.9);
}

.frm-md-4{
    max-width : 300px;
    margin: 0px auto;
}

.wrong{
    font-size: 30px;
    color: red;
}
.correct{
    font-size: 36px;
    color: green;
    font-weight:800;
}
