@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de transções financeiras.</h1>
    <p class="lead">Utilze este sistema para gerenciar suas transações financeiras.</p>
</div>